
/*start header */
.header{
    width: 100%;
    z-index: 10;
    padding: 0 48px;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.74);
    box-shadow: 0px 8px 15px rgba(83, 83, 83, 0.1);
  }
  .header-branding-container{
      margin: 6px 0;
      margin-right: auto;
    align-content:flex-start;
  }
  .header-branding{
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 3px;
    text-align: center;
    align-self: flex-start;
    color: $accent
  }
  .header-branding:hover{
      color: darken($accent, 10%);
  }
  .header-item {
      font-size: 1rem;
      vertical-align: middle;
      color: $text;
  }
  .header-item:hover{
      color: $text-bold;
      cursor: pointer;
  }
  .active-item {
      color: #454545;
  }
  
  .header-list{
    align-items: center;
    
    a{
        padding: 6px 18px;
    }
  }