.overlay{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: 99;
}
.overlay-list{
  list-style: none;
}
.overlay-item{
  display: block;
  color: $text;
  margin: 0;
  padding: 20px 40px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
    .hamburger{
      display: flex;
    }
    .header-list{
      display: none;
    }
}
@media only screen and (min-width: 768px) {
  .hamburger{
    display: none;
  }
  .header-list{
    display: flex;
  }
  .overlay{
    display: none;
  }
}

