// $accent: #FF5722;
// $accent-alt: #00BCD4;
// $accent-dark: #ef4009;
// $accent2: #FF5722;
// $background: #fbfcfd;
// $background-alt: rgb(242, 242, 242);
// $text: #0c3844;
// $text-white: #fafafa;
// $text-bold: #00796B;
// $link: #385E72;
// $social-bg: #0097A7;
// $social-color: #fbfbfb;


$accent: rgb(233, 104, 104);
$accent-alt: #00BCD4;
$accent-dark: #e760e7;
$accent2: #FF5722;
$background: #fbfcfd;
$background-alt: rgb(242, 242, 242);
$text: #0c3844;
$text-white: #fafafa;
$text-bold: #00796B;
$link: #385E72;
$social-bg: #0097A7;
$social-color: #fbfbfb;


$red: rgb(233, 104, 104);
$blue: #00BCD4;
$green: #41b882;

$margin: 28px;
$padding: 28px;